---
const { href } = Astro.props;
---

<div>
  <h2>Title</h2>
  <p>Description</p>
</div>

<style>
  div {
    padding: 2em;
    cursor: pointer;
    border: 3px solid #1f1f1f;
    transition: border 0.2s;
    border-radius: var(--radius);
  }

  div:hover {
    border: 3px solid #1f1f1f;
  }

  div > * {
    margin: 0;
  }
</style>
