<div>
  <slot />
</div>

<style>
  div {
    border: 3px solid #1f1f1f;
    border-radius: var(--radius);
    padding: 1em;
    display: flex;
    flex-direction: column;
    max-width: 920px;
  }

  @media screen and (min-width: 768px) {
    div {
      padding: 1em 2em;
    }
  }
</style>

<style is:inline>
  .conversation__message:not(
      *:not(.conversation__message) + .conversation__message
    ) {
    margin-top: 3em;
  }
</style>
