<section id="hero" class="container">
  <slot />
</section>

<style>
  #hero {
    min-height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: 3px solid #1f1f1f;
  }
</style>
