---
import { Icon } from "astro-icon/components";

interface Props {
  title?: string;
  icon?: string;
  kind: "info" | "warn" | "danger" | "resource" | "muted";
}
const { title, icon: customIcon, kind } = Astro.props;
const icon = {
  info: "solar:info-circle-bold-duotone",
  warn: "solar:danger-triangle-bold-duotone",
  danger: "solar:danger-bold-duotone",
  resource: "solar:link-minimalistic-bold-duotone",
  muted: "solar:info-circle-bold-duotone",
};
---

<div class={`prompt ${kind}`}>
  <Icon name={customIcon || icon[kind]} />

  {
    title && (
      <>
        <span>{title}</span>
        <br />
      </>
    )
  }

  <!-- <div class="prompt__content">
    <slot />
  </div> -->

  <slot />
</div>

<style>
  [data-icon] {
    font-size: 12em;
    position: absolute;
    opacity: 0.1;
    transform: rotate(10deg);
    left: -10%;
    top: -25%;
    pointer-events: none;
  }

  .prompt {
    padding: 1.75em 2em;
    border-radius: var(--radius);
    position: relative;
    overflow: hidden;
  }

  .prompt > span {
    font-weight: 700;
  }

  .info {
    border: 3px solid white;
    background-color: #1f1f1f0a;

    [data-icon] {
      color: white;
    }
  }

  .warn {
    border: 3px solid #facc15;
    background-color: #facc150a;

    [data-icon] {
      color: #facc15;
    }
  }

  .danger {
    border: 3px solid #ef4444;
    background-color: #ef44440a;

    [data-icon] {
      color: #ef4444;
    }
  }

  .resource {
    border: 3px solid #3b82f6;
    background-color: #3b82f60a;

    [data-icon] {
      color: #3b82f6;
    }
  }

  .muted {
    border: 3px solid #2a2a2a;
    background-color: #2a2a2a0a;

    [data-icon] {
      color: #2a2a2a;
    }
  }

  @media screen and (min-width: 768px) {
    [data-icon] {
      left: -5%;
    }
  }
</style>

<!-- <style is:inline>
  .prompt__content * {
    font-size: var(--body);
    max-width: none;
  }
</style> -->
