---
interface Props {
  title?: string;
  kind: "info" | "warn" | "danger" | "resource";
}
const { title, kind } = Astro.props;
---

<div class={`prompt ${kind}`}>
  {
    title && (
      <>
        <span>{title}</span>
        <br />
      </>
    )
  }

  <slot />
</div>

<style>
  .prompt {
    padding: 1em 2em;
    border-radius: var(--radius);
    width: fit-content;
  }

  .prompt > span {
    font-weight: 600;
  }

  .info {
    border: 3px solid white;
    background-color: #1f1f1f0a;
  }

  .warn {
    border: 3px solid #facc15;
    background-color: #facc150a;
  }

  .danger {
    border: 3px solid #ef4444;
    background-color: #ef44440a;
  }

  .resource {
    border: 3px solid #3b82f6;
    background-color: #3b82f60a;
  }
</style>
