---
import Prompt from "@components/Prompt.astro";

interface Link {
  title: string;
  link: string;
}
interface Props {
  links: Link[];
  customBody?: string;
  isGardenResource: boolean;
}
const { links, customBody, isGardenResource = false } = Astro.props;
---

<Prompt
  kind={isGardenResource ? "garden" : "resource"}
  title={links.length == 1 ? "Resource" : "Resources"}
>
  <span
    >{
      customBody
        ? customBody
        : "These resources were mentioned and might be helpful to you:"
    }</span
  >

  <section class="resource__link-container">
    {
      links.map((link) => (
        <a
          href={link.link}
          target="_blank"
          rel="noreferrer"
          class="resource__link"
        >
          <div>
            <p>{link.title}</p>
          </div>
        </a>
      ))
    }
  </section>
</Prompt>

<style>
  .resource__link-container {
    display: grid;
    gap: 1em;
    margin-top: 2em !important;
  }

  .resource__link {
    padding: 0 1em;
  }
</style>
