---
import Prompt from "./Prompt.astro";
import UnstyledAnchor from "./UnstyledAnchor.astro";

interface Link {
  title: string;
  link: string;
}
interface Props {
  links: Link[];
  customBody?: string;
}
const { links, customBody } = Astro.props;
---

<Prompt kind="resource" title={links.length == 1 ? "Resource" : "Resources"}>
  <span
    >{
      customBody
        ? customBody
        : "The resources below were mentioned and may serve to help:"
    }</span
  >

  <section
    class="grid grid-cols-1 gap-5 pt-5 md:grid-cols-2 resource__link-container"
  >
    {
      links.map((link) => (
        <a
          href={link.link}
          target="_blank"
          rel="noreferrer"
          class="resource__link"
        >
          <div>
            <p>{link.title}</p>
          </div>
        </a>
      ))
    }
  </section>
</Prompt>

<style>
  .resource__link-container {
    display: grid;
    gap: 1em;
    margin-top: 2em;
  }
  .resource__link {
    padding: 0 1em;
  }
</style>
