---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero.astro";
import type { CollectionEntry } from "astro:content";
import PostMetadata from "@components/PostMetadata.astro";

interface Props {
  post: CollectionEntry<"posts">;
}
const { post } = Astro.props;
---

<BaseLayout title={post.data.title}>
  <Hero>
    <h1 class="title" transition:name={post.data.title}>{post.data.title}</h1>
    <PostMetadata entry={post} />
  </Hero>

  <main class="container">
    <slot />
  </main>
</BaseLayout>

<style is:inline>
  main > * {
    line-height: 1.6;
  }

  .container > figure {
    border: 3px solid #1f1f1f;
    border-radius: var(--radius);
    padding: 1em;
    margin: 1em 0;
  }

  .container > iframe {
    border: 3px solid #1f1f1f;
    border-radius: var(--radius);
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  .container > figure img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  figure > figure {
    height: 100%;
    margin: 0;
  }

  pre {
    padding: 1em;
    border: 3px solid #1f1f1f;
    border-radius: var(--radius);
    max-width: 920px;
  }

  blockquote {
    margin-left: 0;
    padding: 0.1em 2em;
    border-left: 5px solid #1f1f1f;
  }

  h1 {
    font-size: var(--subtitle);
  }

  h2 {
    font-size: calc(var(--subtitle) * 0.9);
  }

  h3 {
    font-size: calc(var(--subtitle) * 0.8);
  }

  h4 {
    font-size: calc(var(--subtitle) * 0.7);
  }

  h5,
  h6 {
    font-size: var(--body);
  }

  .post__metadata > div {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .prompt > * {
    margin: 0;
  }

  .images {
    display: flex;
    gap: 2em;
    overflow-x: scroll;
  }

  figcaption {
    color: #666;
    font-style: italic;
  }

  @media screen and (min-width: 1440px) {
    .container > figure,
    .container > iframe {
      max-width: 920px;
    }
  }
</style>
