---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero.astro";
import type { CollectionEntry } from "astro:content";
import PostMetadata from "@components/PostMetadata.astro";
import PostStyles from "@components/PostStyles.astro";

interface Props {
  post: CollectionEntry<"posts">;
}
const { post } = Astro.props;
---

<BaseLayout post={post}>
  <Hero>
    <h1
      class="title"
      transition:name={`${post.id}__title`}
      data-pagefind-meta="title"
    >
      {post.data.title}
    </h1>
    <PostMetadata entry={post} />
  </Hero>

  <main class="container" id="post-content" data-pagefind-body>
    <slot />
  </main>

  <PostStyles />
</BaseLayout>
